body { 
    background: #c7b39b url(ldJbofQQhKg.jpg)no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    color: #fff
  }
  h1 {
    font-style: oblique;
    font-family: Luminari;
  }
  pre {
    font-style: oblique;
    font-family: Smell Roundhand;
  }
  p {
    font-style: oblique;
    font-family: Smell Roundhand;
    
    color:#fff
  }
  input {
    font-style: oblique;
    font-family: Smell Roundhand;
    
    color:#000000;
  }
  legend {
    font-style: oblique;
    font-family: Smell Roundhand;
    
  }
  textarea {
    background-color: #fff;
    font-style: oblique;
    font-family: Smell Roundhand;
  }
  li {
    font-style: oblique;
    font-family: Smell Roundhand;
    color: #fff;
  }
  .b1 {
    font-style: oblique;
    font-family: Smell Roundhand;
    background: black;

    color: white;
  }